/.pipeline-runs/
/modules/*
/modules_/*
/modules_temp/*
/node_modules/*
.eslintcache
.idea
.vscode/*
ownModuleList.json
website/data/cache/
website/data/moduleCache.json
website/data/skipped_modules.json
*.tmp
