body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.container {
  display: flex;
  margin: 1em;
}

aside {
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  position: fixed;
  margin: auto;
}

@media screen and (width <= 768px) {
  main {
    margin-top: auto;
    margin-left: auto !important;
  }

  .container {
    display: grid;
    margin: 1em;
  }

  #filter-menu {
    display: none;
  }

  #hamburger-icon {
    display: block !important;
  }
}

.tag-button {
  font-size: small;
  color: #eee;
  background-color: #6b6b6b;
  padding: 0.3em 0.5em;
  margin: 0.25em;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
}

.tag-button:hover {
  background-color: #2276c588;
}

#search-input {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.card-header {
  font-size: larger;
  text-align: center;
  margin-bottom: 1em;
}

.card-header a {
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  margin-left: 250px;
}

.card {
  background-color: #b2c4c984;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0.5em;
  padding: 1em;
  width: 300px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.selected {
  background-color: #2276c5;
  color: #fff;
}

#filter-menu {
  padding: 0;
  background-color: #6b6b6b;
}

#hamburger-icon {
  display: none;
  cursor: pointer;
}

.menu-item a {
  margin: 0.25em;
  display: block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.menu-item a:hover {
  background-color: #2276c588;
}

/* Give some tags an emoji */

[data-tag]::before {
  padding-right: 0.5em;
}

[data-category]::before {
  padding-right: 0.5em;
  content: "🗋";
}

[data-category="all"]::before {
  content: "🗺️";
}

[data-tag="health"]::before,
[data-category="Health"]::before {
  content: "🍏";
}

[data-tag="finance"]::before,
[data-category="Finance"]::before {
  content: "💰";
}

[data-tag="information"]::before,
[data-category="Information"]::before {
  content: "ℹ️";
}

[data-tag="news"]::before,
[data-category="News"]::before {
  content: "📰";
}

[data-tag="public transport"]::before,
[data-category="Public Transport"]::before {
  content: "🚍";
}

[data-tag="social media"]::before,
[data-category="Social Media"]::before {
  content: "📱";
}

[data-tag="traffic"]::before,
[data-category="Traffic"]::before {
  content: "⛕";
}

[data-tag="weather"]::before,
[data-category="Weather"]::before {
  content: "☁️";
}

/* Highlight important tags */
[data-tag="entertainment"],
[data-tag="finance"],
[data-tag="health"],
[data-tag="news"],
[data-tag="public transport"],
[data-tag="religion"],
[data-tag="sports"],
[data-tag="voice control"],
[data-tag="weather"] {
  font-weight: bold;
  font-size: large;
}
