/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-condensed-v27-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/roboto-condensed-v27-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/roboto-condensed-v27-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-foreground-text: #ddd;
  --color-foreground-white: #fff;
  --color-foreground: #e9e9e9;
  --color-background: #222;
  --color-background-gray: #555;
  --color-selected: #2296fc;
  --color-hover: #d66400;
  --color-foreground-error: #ffe8e8;
  --color-background-error: #390000;
  --color-background-error-gray: #722d2d;
  --color-selected-error: #89002e;
  --color-accent-header: var(--color-background);
  --color-accent-light: #ebf8ff;
  --color-accent-dark: #033454;
  --font-primary: "Roboto Condensed";
  --font-size: 16px;
  --font-size-xsmall: 0.75rem;
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 3.25rem;
  --font-size-xlarge: 3.75rem;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-primary), sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-foreground);
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

header {
  color: var(--color-foreground);
  padding: 1em;
  background-color: var(--color-background);
  text-align: center;
}

.accent {
  width: 100%;
  height: 3px;
  margin-bottom: 10px;
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  background-color: var(--color-accent-header);
}

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#module-count {
  align-self: center;
}

#reset-button {
  color: var(--color-foreground-text);
  cursor: pointer;
  background-color: var(--color-background-gray);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  padding: 0.5em;
  margin-left: 1em;
}

#tag-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tag-button {
  min-height: 1.5em;
  margin: 0.3em 0.3em 0 0;
  padding: 0.1em 0.3em;
  text-align: center;
  color: var(--color-foreground-text);
  background-color: var(--color-background-gray);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  align-self: center;
  text-transform: capitalize;
}

#reset-button:hover,
.tag-button:hover {
  background-color: #2276c588;
}

#search-input {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #eee;
  min-width: 25em;
}

#top-left {
  text-align: left;
  font-size: var(--font-size-xsmall);
  position: absolute;
  left: 20px;
  top: 20px;
}

#top-right {
  position: absolute;
  right: 20px;
  top: 20px;
}

#repo-link,
#repo-link a {
  text-align: right;
  color: #999;
}

#sort-dropdown {
  margin: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  color: var(--color-foreground-text);
  background-color: var(--color-background-gray);
  border-radius: 5px;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2em 2em;
  max-width: 1880px;
  margin: auto;
}

/* ------------------------------- CARD STYLING */
.card {
  display: flex;
  flex-flow: column nowrap;
  flex: 0.43 1 20%;
  background-color: #fff;
  border-radius: 14px;
  margin: 0.36em;
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  transition:
    transform 200ms ease-in-out,
    scale 200ms ease-in-out,
    box-shadow 200ms ease-in-out;
  overflow: hidden;
  min-width: 250px;
  padding: 0.92em 0.92em 0;
  outline: transparent solid 3px !important;
}

.card:hover {
  box-shadow: rgb(149 157 165 / 70%) 0 8px 24px;
  top: -2px;
  transition: all 100ms;
  outline: var(--color-hover) solid 2px !important;
}

.card-header {
  font-size: var(--font-size-medium);
}

.name-container {
  font-size: 1.44rem;
  font-weight: 600;
  line-height: 1.8rem;
  margin-left: 2px;
  margin-top: 2px;
  color: var(--color-background);
  transition: 200ms ease-in-out;
}

.card:hover .name-container {
  color: var(--color-selected);
}

.subtitle {
  margin-top: -5px;
  font-size: 0.9rem;
  margin-left: 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: var(--color-background);
  font-weight: 500;
}

.stars {
  color: var(--color-background-gray);
  font-weight: 400;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  padding: 0.5em 0 0;
}

.tags div {
  text-transform: capitalize;
  background-color: var(--color-accent-dark);
  color: var(--color-accent-light);
  padding: 0.14em 0.56em;
  border-radius: 1em;
  font-size: 0.9rem;
  white-space: nowrap;
}

.description {
  margin-top: 0.5em;
  padding: 0.1em;
  line-height: 1.2rem;
  color: var(--color-background);
}

.img-container {
  flex: 1;
}

.img-container > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-top: 0.5em;
}

.info {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  flex-grow: 1;
  color: var(--color-background);
  align-items: flex-end;
  margin-top: 0.6em;
  margin-bottom: 0.5em;
  font-size: 0.9rem;
}

.info .container {
  text-align: center;
}

.info .container .text {
  font-weight: 400;
}

.info .container .label {
  color: var(--color-background-gray);
  font-weight: 400;
  margin-bottom: -4px;
}

.outdated {
  background-color: var(--color-foreground-error) !important;

  --color-background: var(--color-background-error) !important;
  --color-background-gray: var(--color-background-error-gray) !important;
  --color-selected: var(--color-selected-error) !important;
}

.outdated-note {
  background-color: var(--color-background);
  border-radius: 12px;
  color: #ffe2dd;
  padding: 1em;
  text-align: center;
  margin-bottom: 0.92em;
}

.selected {
  transition: all 400ms;
  outline: var(--color-selected) solid 3px !important;
}

.overlay {
  cursor: pointer;
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.large-image {
  margin: auto;
  display: block;
  width: 80%;
  height: 80%;
  object-fit: contain;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*  style="display: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.9); z-index: 2; cursor: pointer;"

/* ------------------------------- Other */

#unofficial-comment {
  font-size: small;
  margin-top: -25px;
  margin-bottom: 5px;
}

#unofficial-comment a {
  color: #888;
}

@media (0 <= width <= 800px) {
  #top-left {
    display: none;
  }

  #sort-container {
    display: block;
  }

  #repo-link,
  #repo-link a {
    text-align: center;
  }

  #top-right {
    position: relative;
    right: 0;
    top: 0;
    padding-bottom: 15px;
  }

  h1 {
    margin: 0.25em;
  }

  #unofficial-comment {
    margin-top: -10px;
  }
}

@media (0 <= width <= 664px) {
  .card {
    flex: none;
    width: 90%;
  }

  main {
    padding: 0;
    justify-content: center;
  }

  .large-image {
    width: 97%;
    height: 97%;
  }
}
