:root {
  --color-text: #ddd;
  --color-text-dimmed: #666;
  --color-text-bright: #fff;
  --color-background: #f9f9f9;
  --color-background-header: #222;
  --color-buttons: #555;
  --font-primary: "Roboto Condensed";
  --font-secondary: "Roboto";
  --font-size: 16px;
  --font-size-xsmall: 0.75rem;
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 3.25rem;
  --font-size-xlarge: 3.75rem;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-primary), sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

header {
  background: var(--color-background);
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
  color: var(--color-text);
  padding: 1em;
  margin-bottom: 10px;
  background-color: var(--color-background-header);
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#container > div {
  align-self: center;
}

#show-all-button {
  color: var(--color-text);
  cursor: pointer;
  background-color: var(--color-buttons);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  padding: 0.5em;
  margin-left: 1em;
}

#tag-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-button {
  min-height: 1.5em;
  margin: 0.3em 0.3em 0 0;
  padding: 0.1em 0.3em;
  text-align: center;
  color: var(--color-text);
  background-color: var(--color-buttons);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  align-self: center;
}

#show-all-button:hover,
.tag-button:hover {
  background-color: #2276c588;
}

#search-input {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #eee;
}

.card-header {
  font-size: var(--font-size-medium);
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--color-text-dimmed);
}

.card-header a {
  text-decoration: none;
  color: #16367d;
}

.card-header a::after {
  padding-left: 0.3em;
  font-size: var(--font-size-small);
  content: "🔗";
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
}

.card {
  flex: 0.43 1 20%;
  background-color: #d4dde0;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0.5em;
  padding: 1em;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.selected {
  background-color: #04246888 !important;
}

#repo-link,
#repo-link a {
  text-align: right;
  text-decoration: none;
  color: #999;
}

/* Give some tags an emoji */
[data-tag]::before {
  padding-right: 0.3em;
}

[data-tag="soccer"]::before {
  content: "⚽";
}

[data-tag="stock"]::before {
  content: "🗠";
}

[data-tag="news"]::before {
  content: "📰";
}

[data-tag="public transport"]::before {
  content: "🚍";
}

[data-tag="social media"]::before {
  content: "📱";
}

[data-tag="traffic"]::before {
  content: "⛕";
}

[data-tag="voice control"]::before {
  content: "🎤";
}

[data-tag="weather"]::before {
  content: "☁️";
}
